body {
    background-color: rgb(239, 247, 253);
    max-width: 600px;
    margin: 10px auto;
    padding: 50px;
    color: black;
    overflow: hidden;
}

h1{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    color: rgb(239, 247, 253);
  }

#image{
    width: 50px;
    float: left;
}

#info {
    width: 50px;
    float: left;
}

#nav_bar {
    width: 95%

}